script.
      // Load Libs CSS
      var ms=document.createElement("link");ms.rel="stylesheet";
      ms.href="libs/fontawesome/css/font-awesome.min.css";document.getElementsByTagName("head")[0].appendChild(ms);
      var ms=document.createElement("link");ms.rel="stylesheet";
      ms.href="libs/animate/animate.css";document.getElementsByTagName("head")[0].appendChild(ms);
      var ms=document.createElement("link");ms.rel="stylesheet";
      ms.href="libs/lightbox/css/lightbox.css";document.getElementsByTagName("head")[0].appendChild(ms);
      var ms=document.createElement("link");ms.rel="stylesheet";
      ms.href="libs/magnificpopup/magnific-popup.css";document.getElementsByTagName("head")[0].appendChild(ms);
      // Header Styles (compress & paste to header after release)
      var ms=document.createElement("link");ms.rel="stylesheet";
      ms.href="css/header.min.css";document.getElementsByTagName("head")[0].appendChild(ms);
      // User Styles
      var ms=document.createElement("link");ms.rel="stylesheet";
      ms.href="css/main.min.css";document.getElementsByTagName("head")[0].appendChild(ms);
      // Media Quieries
      var ms=document.createElement("link");ms.rel="stylesheet";
      ms.href="css/media.min.css";document.getElementsByTagName("head")[0].appendChild(ms);

      